/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

  }

/* top bar */



.barra{
  color: rgb(72, 117, 156);
  background: rgb(72, 117, 156) none repeat scroll 0% 0%;
  height: 300px;
  position: absolute;
  width: 100%;
}

/*Image */

.insta{

  float: left;
  left: 240px;
  top: 130px;
  position: relative;
}

.iphone{
  position: relative;
  float: left;
  left: 180px;
  top: 150px;
}
.frame{
  position: relative;
left: -105px;
top: 220px;
}
.home{
  position: relative;
  top: 168px;
  left: 320px;
  color: white;
  float: left;
  padding-left: 10px;
  background: rgb(72, 117, 156) none repeat scroll 0% 0%;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 0 0.8em 1.6em 0 rgba(0,0,0,0.2), 0 0.6em 2em 0 rgba(0,0,0,0.19);
}
.main{
  position: absolute;
  text-align: left;
  left: 659px;
  height: 296px;
  width: 401px;
  top: 232px;
}
h2 {
  color:#3B505F;
}
.apple{
position: relative;
top: 314px;
left: 248px;
float: left;
}
.android{
position: relative;
top: 314px;
left: 261px;
float: left;
}

.footer{
  position: relative;
  list-style: outside none none;
  float: left;
  bottom: -386px;
  font-weight: bold;
}

li {
  float:left;
  padding:7px;
  color: rgb(72, 117, 156);
  text-align: center;


}

.em{
  color:grey;
}
